.whyAsOrd{
  display: flex;
  flex-wrap: wrap;
  .btnWrap{
    padding: 20px 15px;
    width: 1380px;
    margin: 0 auto;
    h2{
      font-size: 48px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      padding-left: 15px;
      border-left: #DF042A solid 6px;
      margin: 20px 0 40px 20px;
    }
    .btn-custom{
      margin: 0;
      border: #DF042A solid 1px;
    }
  }
  .question{
    background-color: #F5F5F5;
    width: 100%;
    .questionContainer{
      display: flex;
      max-width: 1380px;
      margin: 0 auto;
      .left{
        position: relative;
        width: 50%;
        .abs5{
          width: 20px;
          height: 100px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #DF042A;
          z-index: 10;
        }
        img{
          width: 690px;
        }
      }
      .right{
        padding: 30px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .ques{
          margin-bottom: 20px;
        }
        .answer{
          font-weight: bold;
        }
      }
    }
  }
  .convoyContainer{
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 15px;
    .brd{
      border-left:#DF042A solid 6px ;
      padding-left: 25px;
    }
  }
  .clauseContainer{
    max-width: 1380px;
    margin-left: 80px;
    .clause{
      padding: 50px;
      max-width: 1150px;
      border-left: 1px solid red;
      .item{
        display: flex;
        margin: 15px 0;
        .number{
          width: 80px;
          height: 80px;
          background-color: #DF042A;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          border-radius: 13px;
          color: white;
        }
        .text{
          width: calc(100% - 100px);
        }
      }
    }
  }
  .wrapperLeft{
    width: 55%;
    .ourProduct{
      display: flex;
      justify-content: flex-end;
      padding: 30px 70px 0 0;
      .productWrap{
        max-width: 660px;
        background-color: #DF042A;
        border-radius: 0 0 0 50%;
        position: relative;
        width: 600px;
        height: 400px;
        img{
          width: 600px;
          top: 16px;
          right: 16px;
          position: absolute;

        }
      }
    }
    .info{

      display: flex;
      justify-content: center;
      background-color: #01206C;
      position: relative;
      padding-top: 30px;
      .infoWrap{
        max-width: 80%;
        height: 100%;
        color: white;
        font-weight: bold;
        padding: 30px 15px;
        border-left: 1px solid #FFFFFF;
      }
      .abs{
        height: 70px;
        width: 15px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #DF042A;
      }
    }
    .originInfo{
      box-shadow: 0 4px 30px #000000;
      //margin-bottom: 25px;
    }
    .problems{
      display: flex;
      justify-content: end;
      padding: 30px 60px 30px 0;
      ul{
        max-width: 600px;
        margin: 0;
        padding: 0 15px;
        li{

          .point{
            margin-top: 12px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #DF042A;
          }
          .text{
            width: 100%;
          }
        }

      }

    }

  }
  .wrapperRight{
    max-width: 600px;
    position: relative;
    .item{
      margin-top: -50px !important;
      background-color: #DF042A;
      width: 500px;
      margin: 0 50px;
      padding: 50px 0 75px;
      border-radius: 0 0 70px 0;
      .text{
        padding: 0 30px;
        color: white;
        max-width: 340px;
      }
      ul{
        margin-bottom: 30px;
        li{
          display: flex;
          align-items: center;
          .point{
            width: 7px;
            height: 7px;
            background-color: white;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 10px;
          }
          .par{
            color: white;
          }
        }
      }
      .brd{
        width: 50px;
        height: 5px;
        background-color: white;
        border: none;
        margin: 20px 0 20px 30px;
      }
      img{
        width: 100%;
      }
    }
    .abs4{
      position: absolute;
      top: -185px;
      left: 50px;
      width: 550px;

    }
    .speaking{
      margin: 25px 0 0 25px;
      width: 570px;
      height: 524px;
      position: relative;
      background-color: #DF042A;
      border-radius: 0 0 50% 0;
      margin-bottom: 60px;
      img{
        width: 570px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
    .brd{
      border: solid 1px #DF042A;
    }
    .product{
      h2{
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      button{
        margin-top: 30px;
        width: 70%;
      }
    }
  }

}
@media(max-width:1400px){
  .whyAsOrd{
    .btnWrap{
      width: 1180px;
      h2{
        font-size: 47px;
        margin-bottom: 35px;
      }
    }
    .convoyContainer{
      max-width: 1100px;
    }
    .question{
      .questionContainer{
        max-width: 1180px;
        .left{
          img{
            width: 590px;
            height: 100%;
          }
        }
        .right{
          padding: 25px;
        }
      }
    }
    .clauseContainer{
      max-width: 1180px;
      .clause{
        padding: 40px;
        max-width: 1050px;
      }
    }
    .wrapperLeft{
      .info{
        //padding: 25px 50px 25px 0;
        .infoWrap{
          //max-width: 587px;
        }
      }
      .problems{
        padding: 25px 50px 0 0;
        ul{
          max-width: 500px;
        }
      }
      .ourProduct{
        margin-top: 90px;
        .productWrap{
          width: 500px;
          height: 330px;
          img{
            width: 500px;
          }
        }
      }
    }
    .wrapperRight{
      max-width: 500px;
      .item{
        width: 440px;
        margin: 0 30px;
        margin-bottom: 20px;
        ul{
          margin-bottom: 25px;
        }
        .brd{
          margin: 20px 0 20px 30px;
        }
      }
      .abs4{
        top: -110px;
        width: 475px;
      }
      .speaking{
        margin: 20px 0 0 20px;
        width: 470px;
        height: 431px;
        img{
          width: 470px;
        }
      }
      .product{
        margin-top: 60px;
        h2{
          font-size: 45px;
        }
      }
    }
  }
}
@media(max-width:1240px) {
  .whyAsOrd{
    .clauseContainer{
      margin-left: 67px;
      .clause{
        max-width: 1000px;
      }
    }
  }
}
@media(max-width:1200px){
  .whyAsOrd{
    .convoyContainer{
      max-width: 900px;
      .brd{
        padding-left: 20px;
      }
    }
    .btnWrap{
      width: 950px;
      h2{
        font-size: 45px;
        margin-bottom: 30px;
      }
    }
    .question{
      .questionContainer{
        max-width: 950px;
        .left{
          img{
            width: 475px;
          }
        }
        .right{
          padding: 20px;
          .ques{
            margin-bottom: 15px;
          }
        }
      }
    }
    .clauseContainer{
      max-width: 950px;
      .clause{
        padding: 30px;
        max-width: 850px;
      }
    }
    .wrapperLeft{
      .problems{

        padding: 20px 40px 0 0;
        ul{
          max-width: 400px;
        }
      }
      .ourProduct{
        margin-top: 40px;
        .productWrap{
          width: 400px;
          height: 270px;
          img{
            width: 400px;
          }
        }
      }
    }
    .wrapperRight{
      max-width: 400px;
      .item{
        width: 360px;
        margin: 0 20px;
        .text{
          padding: 0 20px;
        }
        ul{
          margin-bottom: 30px;
          padding: 0 20px;
        }
        .brd{
          margin: 20px 0 20px 20px;
        }
        img{
          width: 100%;
        }
      }
      .abs4{
        top: -70px;
        width: 390px;
      }
      .speaking{
        margin: 20px 0 0 20px;
        width: 370px;
        height: 340px;
        img{
          width: 370px;
        }
      }
      .product{
        margin-top: 100px;
        h2{
          font-size: 42px;
        }
      }
    }
  }
}
@media(max-width:1040px) {
  .whyAsOrd{
    .clauseContainer{
      margin-left: 58px;
      .clause{
        max-width: 810px;
      }
    }
  }
}
@media(max-width:992px){
  .whyAsOrd{
    .convoyContainer{
      max-width: 700px;
    }
    .btnWrap{
      width: 750px;
      h2{
        font-size: 38px;
        padding-left: 10px;
        margin-bottom: 25px;
      }
    }
    .question{
      .questionContainer{
        max-width: 750px;
        flex-wrap: wrap;
        .left{
          width: 100%;
          img{
            width: 100%;
          }
        }
        .right{
          width: 100%;
          padding: 20px;
          .ques{
            margin-bottom: 40px;
          }
          .answer{
            margin-bottom: 20px;
          }
        }
      }
    }
    .clauseContainer{
      max-width: 750px;
      margin-left: 51px;
      .clause{
        padding: 20px;
        max-width: 727px;
        .item{
          margin: 10px 0;
          .number{
            width: 75px;
            height: 75px;
            margin-right: 15px;
            font-size: 34px;
          }
          .text{
            width: calc(100% - 90px);
          }
        }
      }
    }
    .wrapperLeft{
      width: 50%;
      .problems{

        padding: 15px 30px 0 0;
        ul{
          max-width: 340px;
        }
      }
      .ourProduct{
        margin-top: 20px;
        .productWrap{
          width: 340px;
          height: 230px;
          img{
            width: 340px;
          }
        }
      }
    }
    .wrapperRight{
      max-width: 340px;
      .item{
        width: 300px;
        .text{
          padding: 0 10px;
        }
        .brd{
          margin: 20px 0 20px 10px;
        }
        ul{
          margin-bottom: 30px;
          padding: 0 10px;
          li{
            .point{
              margin-right: 5px;
            }
          }
        }
      }
      .abs4{
        width: 360px;
        left: 15px;
      }
      .speaking{
        margin: 15px 0 0 15px;
        width: 310px;
        height: 285px;
        img{
          width: 310px;
        }
      }
      .product{
        margin-top: 180px;
        h2{
          font-size: 39px;
        }
      }
    }
  }
}
@media(max-width:885px) {
  .whyAsOrd{
    .clauseContainer{
      margin-left: 41px;
      .clause{
        max-width: 633px;
      }
    }
  }
}
@media(max-width:768px){
  .whyAsOrd{
    .convoyContainer{
      max-width: 100%;
      .brd{
        padding-left: 15px;
      }
    }
    .btnWrap{
      padding: 15px 15px;
      width: 100%;
      h2{
        font-size: 34px;
        padding-left: 0;
        margin-bottom: 20px;
        border-left:none ;
        text-align: center;
      }
    }
    .question{
      .questionContainer{
        .right{
          padding: 15px;
          .ques{
            margin-bottom: 30px;
          }
          answer{
            margin-bottom: 10px;
          }
        }
      }
    }
    .clauseContainer{
      max-width: 100%;
      margin: 0 auto;
      padding:0 15px ;
      .clause{
        padding: 25px;
        max-width: 100%;
        border: none;
        .border_modal{
          width: 120px;
          height: 1px;
          background: #DF042A;
          margin: 15px 0;
        }
        .item{
          margin: 20px 0;
          .number{
            width: 65px;
            height: 65px;
            font-size: 32px;
            margin-right: 10px;
          }
          .text{
            width: calc(100% - 75px);
          }
        }
      }
    }
    .wrapperLeft{
      width: 100%;
      .info{
        padding: 15px 10px  ;
        justify-content: start;
        .infoWrap{
          max-width: 90%;
          padding: 15px;
          border: none;
        }
      }
      .problems{
        justify-content: start;
        padding: 0 ;
        width: 90%;
        background-image: url('../img/speakingBG.png');
        border-radius: 0 0 70px;
        background-size: cover;
        ul{
          padding: 15px 10px 50px ;
          border-radius: 0 0 70px;
          max-width: 100%;
          background:rgba(221,219,218,0.9);
          li{
            margin-top: 20px;

          }
        }
      }
      .convoyProblems{
        width: 100%;
        padding: 0 15px;
        background-image: none;
        ul{
          background: none;
          padding: 15px 0 30px;
          li{
            margin-top: 10px;
          }
        }
      }
      .ourProduct{
        display: none;
      }
    }
    .wrapperRight{
      max-width: 100%;
      width: 100%;
      .itemMedia{
        width: 100%;
        padding-bottom:40px;
        background-color: #DF042A;
        .content{
          position: relative;
          img{
            width: 100%;
          }
          .abs8{
            position: absolute;
            width: 100%;
            height: 300px;
            background: rgb(223,4,42);
            background: linear-gradient(0deg, rgba(223,4,42,1) 0%, rgba(223,4,42,0.896796218487395) 35%, rgba(223,4,42,0) 100%);
            bottom: -1%;
          }
          .abs7{
            position: absolute;
            bottom: -1%;
            z-index: 8;
            .text{
              padding: 0 30px;
              color: white;
              max-width: 340px;
            }
            ul{
              margin-bottom: 30px;
              li{
                display: flex;
                align-items: center;
                .point{
                  width: 7px;
                  height: 7px;
                  background-color: white;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  margin-right: 10px;
                }
                .par{
                  color: white;
                }
              }
            }
            .brd{
              width: 50px;
              height: 5px;
              background-color: white;
              border: none;
              margin: 20px 0 20px 30px;
            }
          }
        }
      }
      .abs4{
        display: none;
      }
      .speaking{
        display: none;
      }
      .product{
        margin-top: 20px;
        padding: 0px 10px;
        h2{
          font-size: 35px;
        }
        .btn-custom{
          width: 100%;
        }
      }
    }
  }
}
@media(max-width:576px){
  .whyAsOrd{
    .btnWrap{
      padding: 10px 15px;
      h2{
        font-size: 30px;
      }
    }
    .question{
      .questionContainer{
        .right{
          padding: 10px;
          .ques{
            margin-bottom: 20px;
          }
          answer{
            margin-bottom: 5px;
          }
        }
      }
    }
    .clauseContainer{
      .clause{
        padding: 25px 0;
        .item{
          .number{
            width: 50px;
            height: 50px;
            font-size: 30px;
          }
          .text{
            width: calc(100% - 60px);
          }
        }
      }
    }
    .wrapperLeft{
      width: 100%;
      .info{
        .infoWrap{
          max-width: 95%;
        }
      }
      .problems{

        width: 95%;
        ul{
          padding: 15px 10px 25px ;
          li{
            margin-top: 5px;

          }
        }
      }
      .convoyProblems{
        width: 100%;
        ul{
          padding: 15px 0 25px;
        }
      }
    }
    .wrapperRight{
      .itemMedia{
        padding-bottom: 30px;
        .content{
          .abs8{
            height: 210px;
          }
        }
      }
      .product{
        h2{
          font-size: 30px;
        }

      }
    }
  }
}