.first_step{
    .first_wrapper{
        display: flex;
        padding-bottom: 71px;
        .first_wrapper_right{
            width: 90%;
            h2{
                span.big_number_media{
                    display: none;
                }
                width: 50%;
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                padding: 47px 0 20px 0;
            }
            .wpcf7{
                width: 100%;
                p{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    span{
                        width: calc(100%/3);
                        margin-right: 20px;
                    }
                    .wpcf7-text{
                        width: 100%;
                        margin-right: 24px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        padding: 20px 0 20px 46px;
                        border: 2px solid #272424;
                        border-radius: 10px;
                        background: transparent;
                        &:focus{
                            border: 2px solid #DF042A;
                            color: #000000;
                        }
                        &::placeholder{
                            color: #020202;
                        }
                    }

                    .wpcf7-submit{
                        width: 30%;
                        border: 1px solid #DF042A;
                        background: #FFFFFF;
                        border-radius: 10px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28px;
                        text-align: center;
                        color: #000000;
                        &:hover{
                            background: #DF042A;
                            color: #FFFFFF;
                            transition: 0.5s;
                        }
                    }
                    .wpcf7-spinner{
                        display: none;
                    }
                }
            }
        }
    }
}