.card_container{
  overflow: hidden;
  .title{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    &:after{
      content: url("../images/Vector664.png");
      position: absolute;
      right: 3%;
      top: 53%;
    }
    &:before{
      content: url("../images/Vector662.png");
      position: absolute;
      left: 2%;
    }
    h2.text_title{
      font-size: 50px;
      font-weight: 700;
      line-height: 59px;
      padding: 55px 18px;
      margin: 0;
      text-align: center;

    }
  }
  .list_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .big, .small{
      padding-bottom: 200px;
      background: #F8F8F8;
      .card_items{
        width: 300px;
        position: relative;
        .card_photo{
          img{
            width: 100%;
          }
        }
        .card_body{
          position: absolute;
          top: 60%;
          left: 5%;
          box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.15);
          width: 90%;
          .body_top{
            display: flex;
            justify-content: end;
            min-height: 28px;
            span{
              background: #DF042A;
              font-weight: 300;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.34em;
              color: #FFFFFF;
              padding: 3px 10px;
              text-transform: uppercase;
            }
          }
          .body_bottom{
            margin: 0 auto;
            background: #FFFFFF;
            text-align: center;
            border-radius: 5px;
            height: 268px;
            &:hover{
              background: #DF042A;
              transition: 0.5s all;
              p{
                color: #FFFFFF;
              }
              a{
                border: 1px solid #FFFFFF;
                color: #DF042A;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              }
              .red_line{
                width: 77px;
                margin: 0 auto 6px auto;
                border: 1px solid #FFFFFF;
                background: #FFFFFF;
              }
            }
            .number{
              font-size: 24px;
              line-height: 29px;
              color: #000000;
              padding:19px 0;
              font-weight: 700;
              margin: 0;
              min-height: 96px;
            }
            .red_line{
              width: 77px;
              margin: 0 auto 6px auto;
              border: 1px solid #DF042A;
              background: #DF042A;
            }
            .clothes{
              margin: 0;
              font-size: 18px;
              padding-bottom: 7px;
            }
            .price{
              margin: 0;
              font-size: 48px;
              padding-bottom: 20px;
              svg{
                width: 30px;
              }
            }
            a{
              font-weight: bold;
              font-size: 24px;
              line-height: 28px;
              color: #000000;
              text-decoration: none;
              background: #FFFFFF;
              border: 1px solid #DF042A;
              box-sizing: border-box;
              border-radius: 10px;
              padding: 10px;
              &:hover{
                border: 1px solid #01206C;
                color: #DF042A;
                transition: 0.5s all;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              }
              svg{
                fill: #DF042A;
                transition: 500ms;
                stroke: #DF042E;
              }
            }
          }
        }
      }
    }
    .small{
      .card_items{
        .card_body{
          .body_bottom{
            .number{
              padding: 36px 0 33px 0;
            }
          }
        }
      }
    }
    .big{
      .card_items{
        .card_body{
          .body_bottom{
            .number{
              padding:19px 0;
            }
          }
        }
      }
    }
  }
  .button_block{
    display: flex;
    justify-content: center;
    padding: 60px 0;
    a{
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
      border: 1px solid #DF042A;
      border-radius: 20px;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      height: 50px;
      svg{
        fill: #DF042A;
        transition: 500ms;
        stroke: #DF042E;
      }
      &:hover{
        border: 1px solid #01206C;
        color: #DF042A;
        transition: .5s all;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
} 